<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> <br>
    <% parks.forEach(function(p){ %>
      <h2><%= p.name %></h2>
      <h4> $<%= p.cost %></h4>
      <img src="<%= p.image_url%>">
    <% }) %>
  </body>
</html>
